- inspStats = inspections_stats
- notiStats = notifications_stats
- hearStats = hearings_stats
- judgeStats = judgements_stats
- maintStats = maintenances_stats
.inner
  .row-fluid{"class" => "show-grid"}
    %h1 Statistics
  
    %h2 City Stats
    %div{:id => "inspection_results"}
    %table{:border => "0"}
      %tr
        %tr
          %th Inspections
        %tr
          %td Results
          - inspStats[:results].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - inspStats[:results].each do |l,v|
            %td= v.to_s
        %tr
    %div{:id => "inspection_types"}
    %table{:border => "0"}
      %tr    
        %tr
          %td Types
          - inspStats[:types].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - inspStats[:types].each do |l,v|
            %td= v.to_s
        %tr
    %div{:id => "notification_types"}
    %table{:border => "0"}  
      %tr
        %tr
          %th Notifications
        %tr
          %td Types
          - notiStats[:types].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - notiStats[:types].each do |l,v|
            %td= v.to_s
        %tr
    %div{:id => "hearing_status"}
    %table{:border => "0"}    
      %tr
        %tr
          %th Hearings
        %tr
          %td Status
          - hearStats[:status].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - hearStats[:status].each do |l,v|
            %td= v.to_s
        %tr
    %div{:id => "judgement_status"}
    %table{:border => "0"}    
      %tr
        %tr
          %th Judgements
        %tr
          %td Status
          - judgeStats[:status].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - judgeStats[:status].each do |l,v|
            %td= v.to_s
        %tr
    %div{:id => "maintenance_programs"}
    %table{:border => "0"}    
      %tr
        %tr
          %td Program Name
          - maintStats[:program_names].each do |l,v|
            %td= l.class == String ? l.capitalize : "Undeclared"
        %tr
        %tr
          %th 
          - maintStats[:program_names].each do |l,v|
            %td= v.to_s
        %tr
    
=content_for :javascripts do
  BlightStats = {};
  BlightStats.data = {
  addresses: #{addresses_stats.to_json.html_safe},
  cases: #{cases_stats.to_json.html_safe},
  inspections: #{inspections_stats.to_json.html_safe},
  notifications: #{notifications_stats.to_json.html_safe},
  hearings: #{hearings_stats.to_json.html_safe},
  judgements: #{judgements_stats.to_json.html_safe},
  resets: #{resets_stats.to_json.html_safe},
  foreclosures: #{foreclosures_stats.to_json.html_safe},
  demolitions: #{demolitions_stats.to_json.html_safe},
  maintenances: #{maintenances_stats.to_json.html_safe}
  }
