.container.property-page
  %section.row-fluid


    / Left bar
    .span8.main
      .address-title
        %h1=@address.address_long

      / -unless @address.workflow_steps.empty?
      .property-history
        .block
          -if @address.cases.empty?
            .case
              %h2
                This property does not have a Code Enforcement record.
                %br
              %h2
                To report a violation call 
                %b
                  311
          -else
            -@address.cases_sorted_by_state.each do |c|
              .case{:class => "case-status-#{c.state}".downcase}
                %h2
                  Case:
                  =c.case_number
                  %div.pull-right{:style => "margin: 10px 0 10px 10px"}
                    -if c.state == 'Open'
                      .label.label-success
                        Case: 
                        =c.state
                    -else
                      .label.label-important
                        Case: 
                        =c.state

                =render :partial => "addresses/progress-bar", :locals => {:kase => c}





                .case-details
                  =render :partial => "addresses/property-history", :locals => {:kase => c}
                .clearfix
                %br
                %br                
            %a#show-history{:style => "text-align: center"}
              Show Historical Cases

          =render :partial => "addresses/additional-address-information", :locals => {:address => @address}



    / Right bar
    .span4.sidebar



      .map.centered
        .map-address{"internal_address_id" => @address.id, "address_id" => @address.address_id, "map-id" => "map-#{@address.id}" , "data-x" => @address.point.x, "data-y" => @address.point.y }
          .leaflet-map{:style => "border: 1px solid #aaa; height: 150px;", :id => "map-#{@address.id}"}

      .subscribe
        %br
        -if(account_signed_in?)
          -if(@account_subscribed)
            =link_to('Watching', "/subscriptions/#{@address.id}", :remote => true, :method => :delete, 'data-type' => 'json', :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover' , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Stop Receiving notifications when the status of this property changes")
          -else
            =link_to('Add to Watchlist', "/subscriptions/#{@address.id}", :remote => true, :method => :put,  'data-type' => 'json', :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover'  , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Receive notifications when the status of this property changes")
        -else
          =link_to('Add to Watchlist', new_account_session_path, :class => 'btn btn-primary btn-tight subscribe-button tooltip-hover' , :id => "subscribe-button", "data-animation" => "true", :trigger => "hover", :delay => 100, "data-placement"=>"bottom", :rel=>"tooltip", "data-title"=>"Receive notifications when the status of this property changes")

      .assessor.centered
        -if @address.assessor_url
          .parcel-link
            =link_to "parcel, tax, and ownership details", @address.assessor_url
          %p
            via the Orleans Parish Assessor’s website



      .faq.centered.question-list
        %h3
          Common Questions
        -case @address.most_recent_status.class.to_s
          - when 'Inspection'
            =render "pages/help/questions/inspections"
          - when 'Hearing'
            =render "pages/help/questions/hearings"
          - when 'Judgement'
            =render "pages/help/questions/judgements"
          - when 'Resolution'
            =render "pages/help/questions/abatement"
          - when 'Reset'
            =render "pages/help/questions/reset"
          - else 
            =render "pages/help/questions/general"

        .view-all-faq
          =link_to "View All Questions >", "/pages/help"



      / .faq.centered.question-list
      /   %h3
      /     Data Quality
      /   %ul
      /     %li
      /       What data is included?
      /       %ul
      /         %li hello world              
      /         %li hello world

      /     %li
      /       What data is not included?
      /       %ul
      /         %li hello world              
      /         %li hello world