.container
  %section.row-fluid
    .span8.main
      .address-title
        %h1=@address.address_long
      .subscribe.centered
        -if(account_signed_in?)
          -if(@account_subscribed)
            =link_to('Remove Watchlist', "/subscriptions/#{@address.id}", :remote => true, :method => :delete, 'data-type' => 'json', :class => 'btn btn-primary btn-large subscribe-button' , :id => "subscribe-button")
          -else
            =link_to('Remove Watchlist', "/subscriptions/#{@address.id}", :remote => true, :method => :put,  'data-type' => 'json', :class => 'btn btn-primary btn-large subscribe-button' , :id => "subscribe-button")
        -else
          =link_to('Receive Alerts', new_account_session_path, :class => 'btn btn-primary btn-large subscribe-button' , :id => "subscribe-button")

      =render :partial => "addresses/status-update", :locals => {:address => @address}
      -unless @address.workflow_steps.empty?
        .property-history
          =render :partial => "addresses/progress-bar", :locals => {:kases => @address.sorted_cases}
          .cases
            -@address.sorted_cases.each do |c|
              .case
                =render :partial => "addresses/property-history", :locals => {:kase => c}
              .clearfix
    .span4.sidebar
      .map.centered
        .map-address{"internal_address_id" => @address.id, "address_id" => @address.address_id, "map-id" => "map-#{@address.id}" , "data-x" => @address.point.x, "data-y" => @address.point.y }
          .leaflet-map{:style => "border: 1px solid #aaa; height: 150px;", :id => "map-#{@address.id}"}
      .map.centered      
        %img{:style => "width: 300px;border: 1px solid #aaa;", :src => "http://maps.googleapis.com/maps/api/streetview?location=#{@address.point.y},#{@address.point.x}&size=300x150&sensor=true"}

      .assessor.centered
        -if @address.assessor_url
          .parcel-link
            =link_to "parcel, tax, and ownership details", @address.assessor_url
          %p
            via the Orleans Parish Assessor’s website


      .faq.centered.question-list
        %h3
          FAQ
        -case @address.most_recent_status.class.to_s
          - when 'Inspection'
            =render "pages/help/questions/inspections"
          - when 'Hearing'
            =render "pages/help/questions/hearings"
          - when 'Judgement'
            =render "pages/help/questions/judgements"
          - when 'Resolution'
            =render "pages/help/questions/abatement"
          - when 'Reset'
            =render "pages/help/questions/reset"
          - else 
            =render "pages/help/questions/general"

        .view-all-faq
          =link_to "View All FAQ >", "/pages/help"
