%header.container.header
  .span3
    .logo
      %a{:href => "/"}
        =image_tag "blightstatus-logo.png"
  .span8
    .navbar
      / .border
      %ul.nav.top-account.pull-right{"role" => "navigation"}
        -if admin_signed_in? 
          .logged-in.span3
            %li=link_to('Incomplete Cases', "/health/cases/incomplete")
            %li=link_to('Orphan Cases', "/health/cases/orphans")
            %li=link_to('Missing Cases', "/health/cases/missing")
            %li=link_to('Logout', destroy_admin_session_path, :method => :get)
        -else
          %li.dropdown
            %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
              -if current_account
                My Account
              -else
                Sign In
              %b
                &nbsp;&nbsp;
            %ul.dropdown-menu.span2.row{"aria-labelledby" => "drop1", :role => "menu"}
              -if account_signed_in?
                .logged-in
                  %li=link_to "My Watchlist", "/accounts"
                  %li=link_to('Logout', destroy_account_session_path, :method => :get)
              -else
                .logged-out
                  %li.login-form
                    =form_for :account, :as => :account, :url => session_path(:account) do |f|
                      .error
                      = f.email_field :email, :placeholder => 'Enter your email address'
                      = f.password_field :password, :placeholder => 'Enter your password'
                      = link_to "Forgot your password?", new_password_path(:account)
                      = f.check_box :remember_me
                      = f.label :remember_me
                      = f.submit "Log in", :class => "btn btn-primary"
                  %li.sign-up
                    Don't have an account yet?
                    =link_to "Sign Up", "/accounts/sign_up"
                  .clearfix
      %ul.nav.top-links
        %li
          =link_to "About", "/pages/about"
        %li
          =link_to "Browse", "/browse"
        %li
          =link_to "Help", "/pages/help"
      - if(controller_name != 'home')
        %ul.nav.top-search
          %li
            =render "layouts/search"
