!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title blightSTATUS
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "", :name => "description"}
    / Mobile viewport optimized: h5bp.com/viewport
    %meta{:content => "width=device-width", :name => "viewport"}
  %body{"data-action" => action_name, "data-controller" => controller_name}
    %div{:id => "wrapper" ,:class => "container-#{controller_name} container-#{controller_name}-#{action_name}"}    
      =render :partial => "layouts/header"
      = yield
    =render :partial => "layouts/footer"
    =render :partial => "layouts/scripts"