!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title blightSTATUS
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "", :name => "description"}
    / Mobile viewport optimized: h5bp.com/viewport
    %meta{:content => "width=device-width", :name => "viewport"}
    :javascript
      var _kmq = _kmq || [];
      var _kmk = _kmk || '0136ff37ea63b8ea98fd6b94054bee3a4ced872a';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  %body{"data-action" => action_name, "data-controller" => controller_name}
    %div{:class => "container-#{controller_name} container-#{controller_name}-#{action_name}"}    
      .navbar
        .navbar-inner
          .container
            %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "/"}
              =image_tag "blightstatus-logo.png"
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a{:href => "/pages/about"} About
                %li
                  %a{:href => "/stats"} Stats
                %li
                  %a{:href => "/pages/help"} Help
                %li.divider-vertical
                -if account_signed_in?
                  %li
                    =link_to "My Account", "/accounts"
                  %li
                    =link_to "Logout", destroy_account_session_path, :method => :delete 
                -else
                  %li
                    =link_to('Register', new_account_registration_path)
                  %li
                    =link_to('Login', new_account_session_path) 
                %li.divider-vertical
                  - if(controller_name == 'addresses')
                    =render "addresses/search"
                    
      = yield


      %footer
        .container
          .signup.span4
            .signup.dropdown.hidden{:style => "display: block;"}
              %form{:action => "/signup", :method => "POST"}
                .error
                %input.email{:name => "email", :placeholder => "Email", :type => "text"}
                  %input{:type => "submit", :value => "Sign me up", :class=>"btn btn-primary"}          
          .logos.span3
            =image_tag 'cfa_logo.png'
          .logos.span3
            =image_tag 'New_Orleans_City_Seal.png'
          / .links.span4
          /   %ul{:style => "float:left"}
          /     %li 
          /       %a{:href => "/pages/about"}About
          /     %li 
          /       %a{:href => "/stats"} Stats
          /     %li 
          /       %a{:href => "/pages/help"} Help
          /     %li 
          /       %a{:href => "https://github.com/codeforamerica/openblight"} Fork me on Github


      %script{:type => "text/javascript"}
        = yield :javascripts
      = javascript_include_tag "application"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31630834-1']);
        _gaq.push(['_setDomainName', 'herokuapp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
