!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title blightSTATUS
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "", :name => "description"}
    / Mobile viewport optimized: h5bp.com/viewport
    %meta{:content => "width=device-width", :name => "viewport"}
  %body{"data-action" => action_name, "data-controller" => controller_name}
    %div{:id => "wrapper", :class => "container-#{controller_name} container-#{controller_name}-#{action_name}"}

      

      .navbar	  
        .navbar-inner
          .container					
            .nav-collapse
              -if(controller_name != 'home')
                %h1#small-logo= link_to("blightSTATUS", root_path)

              %ul.nav
                / %li.active
                /  %a{:href => "#"} Home
              %ul.nav.pull-right
                -if account_signed_in?
                  %li
                    =link_to "My Account", "/accounts"
                  %li
                    =link_to "Logout", destroy_account_session_path, :method => :delete 
                -else
                  %li
                    =link_to('Register', new_account_registration_path)
                  %li
                    =link_to('Login', new_account_session_path) 


      %header.page-header
        -if(controller_name == 'home')
          %h1#logo= link_to("blightSTATUS", root_path)
          =render "home/tag-line"

        %div{ :class => "top-search-bar"}
          - if(controller_name == 'addresses')
            =render "addresses/search"
          -unless @agree_to_legal_disclaimer
            =render "home/legal-disclaimer"	

      = yield
	  
      %footer
        .footer
          %p
            %a{:href => "/pages/about"} About
            \-
            %a{:href => "/pages/terms"} Terms of Service
            \-
            %a{:href => "/stats"} Statistics
            -#\-
            -#%a{:href => "/feedback"} Send feedback

        .demo
          %p
            %br
            %br
            %b Search Results:
            %a{:href => "/addresses/search?utf8=%E2%9C%93&address=MISTLETOE+ST+&commit=Search+Address"} MISTLETOE ST
            %br
            %b No Case:
            %a{:href => "/addresses/15642" } 100 ALDEN PL
            %br
            %b Hearing Pending:
            %a{:href => "/addresses/70086"} 2534 MISTLETOE ST
            %br
            %b Resolution:
            %a{:href => "/addresses/44641"} 3137 PAUGER ST

            %br
            .btn
              %a{:href => "/map"} View Map
            .btn
              %a{:href => "/stats"} View Stats
            .btn
              %a{:href => "/cases"} View Cases


      /[if lte IE 8]
        <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />

      %link{:href => "http://code.leafletjs.com/leaflet-0.3.1/leaflet.css", :rel => "stylesheet"}/


      %script{:type => "text/javascript"}  
        = yield :javascripts
      = javascript_include_tag "application"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31630834-1']);
        _gaq.push(['_setDomainName', 'herokuapp.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
